@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	padding: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	margin: 0;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
/* article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; */
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 6pt;
  letter-spacing: 1px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
	margin: 0;
	padding: 0;
  background-color: #252831;
	display: flex;
	align-items: center;
	justify-content: center;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 11pt;
  font-weight: 100;
  letter-spacing: 7px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 0px 10px 40px;
    list-style: none;
    background-color: #eee;
    font-size: 10pt;
    margin: 0;
    width: calc(100% - 40px);

}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 375px;
  width: 100%;
  background-color: #ccc;
}

#map .leaflet-control-attribution {
	font-size: 8px;
	text-align: center;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 4em;
  background-color: #3397DB;
  align-items: center;
	display: flex;
}
.filter-options h2 {
  color: white;
  font-size: 9pt;
  font-weight: normal;
  line-height: 1;
	padding: 0;
  margin: auto;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 9pt;
  height: 35px;
  letter-spacing: 0;
  margin: 0 10px;
  padding: 0 4px;
  width: calc(40% - 20px);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  margin: auto;
  padding: 0;
  text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 10px;
  min-height: auto;
  padding: 0;
	border-radius: 25px 0 25px 0;
  text-align: center;
  width: 95%;
	list-style-type: none;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
	border-radius: 25px 0 25px 0;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 0 10px;
  padding: 10px 35px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 300px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: relative;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
	padding-left: 10px;
}
#restaurant-img {
	width: 95%;
	height: auto;
	border-radius: 25px 0 25px;
	display: block;
	margin: auto;
}
#restaurant-address {
  font-size: 11pt;
  margin: 10px 0px;
	padding: 0 0 0 10px;
	font-weight:bold;
}
#restaurant-cuisine {
  background-color: #252831;
  color: #fff;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 20px 0 20px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
	margin: 0;

}

#reviews-container h2 {
  color: #f58500;
  font-size: 18pt;
  font-weight: 300;
	padding: 0 0 0 10px;
}
#reviews-list {
  margin: 0;
  padding: 0;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 95%;
	border-radius: 25px 0 25px;
}
#reviews-list li p {
  margin: 10px 0 10px;
	padding: 0 10px 0 10px;
	font-size: 10pt;
}

#review-heading {
	display: flex;
	justify-content: space-between;
	background-color: #252831;
	padding: 5px 0;
}

#name-title {
	color: #fff;
	font-size: 10pt !important;
}

#date-title {
	color: #c3c3c3;
	font-size: 10pt !important;
}

#rating {
	background-color: #FFA500;
	color: #fff;
	text-transform: uppercase;
	width: 65px;
	text-align: center;
	border-radius: 2px;
}

#restaurant-hours td {
	padding: 0 0 0 10px;
	font-size: 10pt;
  color: #666;
}

/* =============== Breakpoint Design ==========*/

@media screen and (min-width: 700px) {
 	#map {
		height: 500px;
  }
	#map .leaflet-control-attribution {
		font-size: 10px;
		text-align: center;
	}
	.filter-options h2 {
		font-size: 11pt;
		font-weight: bold;
	}
	.filter-options select {
	  font-size: 10pt;
	  margin: 0 10px;
	  padding: 0 10px;
	}
	#restaurants-list li {
		width: calc(50% - 20px);
	}
	#restaurant-container {
		padding: 10px;
	}

	    /*=========== Details Page ========= */
	#restaurant-container {
			overflow: overlay;
	}
	#restaurant-img {
		width: 45%;
		height: auto;
		border-radius: 25px 0 25px;
		padding: 0 10px;
		display: inline-block;
		float: left;
	}
	#restaurant-address {
	  font-size: 11pt;
	  margin: 10px;
		padding: 10px;
		font-weight:bold;
		display: inline-grid;
	}
	#restaurant-cuisine {
	  background-color: #252831;
	  color: #fff;
	  font-size: 10pt;
	  font-weight: 300;
	  letter-spacing: 10px;
	  margin: 0;
	  padding: 20px;
	  text-align: center;
	  text-transform: uppercase;
		width: calc(50% - 50px);
		display: inline-block;
	}
	#restaurant-name {
		display: block;
		padding: 0 0 0 10px;
	}
	#reviews-container {
		display: block;
		overflow: overlay;
	}
}

@media screen and (min-width: 1050px) {
	#map {
		margin: 0;
		padding: 0;
		height: 600px;
		width: 75%;
		float: right;
	}
	#map .leaflet-control-attribution {
		font-size: 11px;
		text-align: center;
	}
	.filter-options {
		width: 25%;
		height: 600px;
		background-color: #3397DB;
		align-items: center;
		display: block;
		padding: 0;
		margin: 0;
	}
	.filter-options h2 {
		font-size: 14pt;
		font-weight: bold;
		padding: 10px;
	}
	.filter-options select {
		font-size: 10pt;
		margin: 15px 10px;
		padding: 10px;
		width: calc(100% - 20px);
	}
	#restaurants-list li {
		width: calc((100%/3) - 20px);
		/* margin: 7.5px auto; */
	}
	#restaurant-container {
		padding: 10px;
	}
	#reviews-list li {
	  width: calc(100%/3 - 40px);
		display: inline-block;
		vertical-align: top;
	}


}
